body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45%;

}
nav{
    background-color: blanchedalmond;
    text-align: center;
    padding: 15px;   
}

h1{
    color: black;
    background:  blanchedalmond;
}
table {
    border:1px solid blanchedalmond;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th{
    text-align: center;
  }
  tr{
    padding: 15px;
    border-radius: 1px;  
  }